###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below
*                                               @hiero-ledger/hiero-json-rpc-relay-maintainers @hiero-ledger/hiero-json-rpc-relay-committers 

#########################
##### Hedera Relay ######
#########################
/packages/relay/                                @hiero-ledger/hiero-json-rpc-relay-maintainers @hiero-ledger/hiero-json-rpc-relay-committers 
/packages/server/                               @hiero-ledger/hiero-json-rpc-relay-maintainers @hiero-ledger/hiero-json-rpc-relay-committers 
/packages/ws-server/                            @hiero-ledger/hiero-json-rpc-relay-maintainers @hiero-ledger/hiero-json-rpc-relay-committers 

###############################
##### Tools and Examples ######
###############################
/dapp-example/                                  @hiero-ledger/hiero-json-rpc-relay-maintainers @hiero-ledger/hiero-json-rpc-relay-committers
/k6/                                            @hiero-ledger/hiero-json-rpc-relay-maintainers @hiero-ledger/hiero-json-rpc-relay-committers
/tools/                                         @hiero-ledger/hiero-json-rpc-relay-maintainers @hiero-ledger/hiero-json-rpc-relay-committers

########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hiero-ledger/github-maintainers
/.github/workflows/                             @hiero-ledger/github-maintainers @hiero-ledger/hiero-json-rpc-relay-maintainers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hiero-ledger/github-maintainers

# Protect the repository root files
/README.md                                      @hiero-ledger/github-maintainers @hiero-ledger/hiero-json-rpc-relay-committers @hiero-ledger/hiero-json-rpc-relay-maintainers 
**/LICENSE                                      @hiero-ledger/github-maintainers @hiero-ledger/hiero-json-rpc-relay-maintainers @hiero-ledger/tsc 

# Git Ignore definitions
**/.gitignore                                   @hiero-ledger/hiero-json-rpc-relay-maintainers @hiero-ledger/github-maintainers @hiero-ledger/hiero-json-rpc-relay-committers
**/.gitignore.*                                 @hiero-ledger/hiero-json-rpc-relay-maintainers @hiero-ledger/github-maintainers @hiero-ledger/hiero-json-rpc-relay-committers
